*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
a{
    color: white;

}
/*#f1d145*/
.footer{
    background:linear-gradient(#333642,black) ;
    color: white;
    outline: none;
    text-decoration: none;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;

}
.lista1{
    display:none;
    position: absolute;
    height: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background:linear-gradient(gray,black) ;
    z-index: 10;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    list-style: none;

}
.abrirlista1 {
    cursor: pointer;
    padding-right: 20px;
    
}
.abrirlista1:hover .lista1{
    display:flex;
}
.abrirlista1 li{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #333642;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.granlista{
    display:flex;
    grid-column: 2/3;
    align-items: center;
    margin: 0 auto;
    list-style: none;

}
.container_modal{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.8;
    color: white;
    z-index: 12;
    justify-content: center;
    align-items: center;
}



.container_modal--perfil{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    z-index: 12;
    justify-content: center;
    align-items: center;

}

.modal-perfiles{
    position: relative;
    width: 70vw;
   
}

.close{
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0 auto;
}

.aparece{
    display:flex ;
}

.container_modal--perfil-caja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgrey;
    height: 70vh;
    width: 70vw;
    box-shadow: 3px 3px 8px black;
    border-radius: 20px;
    color: black;
    margin: 0 auto;
}
.container_modal--caja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgrey;
    height: 70vh;
    width: 70vw;
    box-shadow: 3px 3px 8px black;
    border-radius: 20px;
    color: black;
}

.github{
    background-image: url("../../assets/images/icons8-github-100.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    padding-right: 10vw;
}
.Platzi{
    background-image: url("https://static.platzi.com/mf-landings/image/isotipoPlatzi-442ccc1186a9806e18c9889cc301ffe1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    padding-right: 10vw;
}
.onedrive{
    background-image: url("../..//assets/images/icons8-google-drive-240.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    padding-right: 10vw;
}
.correo{
    background-image: url("../..//assets/images/icons8-email-80.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    padding-right: 10vw;
}

.modal{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color:white;
}
.formulario{
    display:grid;
    grid-template-columns: 1fr 1fr;
    white-space: wrap;


}

.items-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 16%;
    padding: 20px;
    color:blACK;

}
.items-form input{
    height: 150%;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}
.modal-in{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}
.modal-in:hover {
    background-color: #333642;
    color: aliceblue;
}

.carrusel {
    width: 90%;
}

.bst-imagen-perfil {
    height: 275px;
    margin: 0 auto;
}

@media (max-width: 1200px) { 
    .items-form{
        display: grid;
        grid-template-columns: 1fr;
        height: 16%;
        padding: 20px;
        color:blACK;
    }
    .formulario{
        display:grid;
        grid-template-columns: 1fr;
        white-space: wrap;

    }
    .carrusel{
        overflow-y: scroll;
        height: 60vh;
        
    }
    .abrirlista1 li{
        font-size: 18px;
        height: 80px;
        width: 80px;

    }
    .abrirlista1 h2{
        font-size: 15px;
    }
    .lista1 {
        flex-wrap: wrap;
    }
}